doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title #{title}
      link(rel='stylesheet' type="text/css" href='/stylesheets/bootstrap523.min.css')
      link(rel='stylesheet' type="text/css" href='/stylesheets/custom.css')
      script(src='/javascripts/bootstrap523.bundle.min.js')
      script(src='/javascripts/custom.js')
    body
    <div class="container">
    block content
    </div>