/* Content Card */
/* CSS variables */
:root {
  --bs-font-sans-serif: 'Barlow', sans-serif;
}


/* review stars */
.rating .stars.position-absolute {
  position: absolute;
  z-index: 2;
  flex-wrap: nowrap;
}

.rating .stars {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
}


/* link cover - ensures our link covers entire card when user hovers */
.link-cover:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  pointer-events: auto;
  content: "";
}


/* misc utilities */
.fw-medium {
  font-weight: 500;
}